# SOURCE https://code.visualstudio.com/

[Desktop Entry]
Name=Visual Studio Code
Encoding=UTF-8
Version=1.77.3
Type=Application
Categories=Application;Development;IDE
Icon=$DESKTOP_ICON
Exec=code %U
TryExec=code
Terminal=false
Comment=code editor for building and debugging
GenericName=code editor for building and debugging
#Keywords=
StartupNotify=true

