# SOURCE https://code.visualstudio.com/

[Desktop Entry]
Name=Visual Studio Code
Encoding=UTF-8
Version=1.77.3
Type=Application
Categories=Application;Development;IDE
Icon=$DESKTOP_ICON/code.png
Exec=$VSCODE %U
TryExec=$VSCODE
Terminal=false
Comment=Code editor for building and debugging
GenericName=Code editor for building and debugging
StartupNotify=true
#Keywords=
