# SOURCE www.mendeley.com

[Desktop Entry]
Name=Mendeley 
Encoding=UTF-8
#Version=
Type=Application
Categories=Application;Education
#Icon= your-path-icon
Exec=mendeley
Terminal=False
