# SOURCE www.mendeley.com

[Desktop Entry]
Name=Mendeley
Encoding=UTF-8
#Version=
Type=Application
Categories=Education;
Icon=$DESKTOP_ICON/mendeley.png
Exec=$MENDELEY %U
TryExec=$MENDELEY
Terminal=false
Comment=Mendeley research to life
GenericName=Mendeley reference management
#Keywords=
StartupNotify=true
