[Desktop Entry]
Encoding=UTF-8
Name=MongoDB Compass
Comment=The MongoDB GUI
GenericName=MongoDB Compass
Exec=$MONGODB %U
TryExec=$MONGODB
Icon=https://github.com/Ilhamazizi/Desktop-Entry/blob/main/.icons/mongodb.ico
Type=Application
StartupNotify=true
Terminal=false
Categories=Office;Database;Building;Debugger;IDE;GUIDesigner;Profiling;
MimeType=x-scheme-handler/mongodb;x-scheme-handler/mongodb+srv;

