# SOURCE https://www.mongodb.com

[Desktop Entry]
Encoding=UTF-8
Name=MongoDB Compass
Comment=The MongoDB GUI
GenericName=MongoDB Compass
Exec=$MONGODB %U
TryExec=$MONGODB
Icon=$DESKTOP_ICON/mongodb.png
Type=Application
StartupNotify=true
Terminal=false
Categories=Office;Database;Building;Debugger;IDE;GUIDesigner;Profiling;
MimeType=x-scheme-handler/mongodb;x-scheme-handler/mongodb+srv;

