# SOURCE www.netacad.com

[Desktop Entry]
Encoding=UTF-8
Name=Cisco Packettracer
Version=8.0
Type=Application
Categories=Network;Education;Simulation;
Icon=$DESKTOP_ICON
Exec=packettracer %U
TryExec=packertracer
Terminal=false
Comment=network simulation tools
GenericName=network simulation tools
StartupNotify=true
#Keywords=
