[Desktop Entry]
Encoding=UTF-8
Name=Cisco Packettracer
Version=8.0
Type=Application
Categories=Network;Education;Simulation;
Icon=$DESKTOP_ICONS/pkt.png
Exec=$PKT %U
TryExec=$PKT
Terminal=false
Comment=Network simulation tools
GenericName=Network simulation tools
StartupNotify=true

