#SOURCE https://www.thunderbird.net

[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail
Comment=Send and receive mail with Thunderbird
GenericName=Mail Client
Keywords=Email;E-mail;Newsgroup;Feed;RSS
Exec=$THUNDERBIRD %U
TryExec=$THUNDERBIRD
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=$DESKTOP_ICONS/thunderbird.png
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=Compose;Contacts
#Version

[Desktop Action Compose]
Name=Compose New Message
Exec=thunderbird -compose

[Desktop Action Contacts]
Name=Contacts
Exec=thunderbird -addressbook

