[Unit]
#Documetation=
Description=Test
After=syslog.target network.target

[Service]
User=$SUDO_USER
Group=$SUDO_USER
WorkingDirectory=$DEV/test
Type=simple
ExecStart=/usr/bin/java -jar javaapp.jar && $DEV/test/src/main.java
ExecStop=/bin/kill -15 $MAINPID
#Environment=

[Install]
WantedBy=multi-user.target

