[Unit]
Documentation=https://nodejs.org
Description=Manage NodeJS App
Version=18.18.2
CodeName=Hydrogen
After=network.target

[Service]
WorkingDirectory=$DIR_APP_NODEJS
ExecStart=/usr/bin/nodejs && $DIR_APP_NODEJS/app.js
User=$SUDO_USER
Group=$NODE_APP 
Type=simple
KillMode=proccess
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
